# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# This workflow will install Deno and run tests across stable and nightly builds on Windows, Ubuntu and macOS.
# For more information see: https://github.com/denolib/setup-deno

name: Deno

on:
  # everyday at 2 am
  schedule:
    - cron: "0 2 * * *"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v2

      - name: Setup Deno
        uses: denolib/setup-deno@c7d7968ad4a59c159a777f79adddad6872ee8d96
        with:
          deno-version: v1.x

      - name: Run Script
        run: deno run --allow-net --allow-write scripts/fetch_data.js --key ${{ secrets.COVALENT_KEY }}

      - name: commit
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          file_pattern: src/data/*.json
